*, *::before, *::after {
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #22d56e;
}

.print {
  padding: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.print__wrapp {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.print__text {
  position: relative;
  padding: 50px;
  color: #333;
  font-size: 26px;
  background-color: rgb(227, 234, 238);
}

.speed, .accuracy, .again {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  font-weight: 800;
  color: #333;
}

.again {
  position: relative;
  padding: 10px;
  border: none;
}

.print__details {
  padding: 4px;
  background-color: rgb(235, 250, 150);
}

.word, .space {
  border-radius: 5px;
}

.bgdgreen {
  padding: 0 4px;
  color: #fff;
  background-color: #54d754;
}

.space {
  padding: 0 6px;
}

.bgdred {
  background-color: red;
}

.passed {
  color: #54d754;
}

.speed__icon {
  width: 40px;
  height: 70px;
  margin-right: 10px;
  background: url('/images/speed.png') no-repeat center;
  background-size: cover;
}

.accuracy__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: url('/images/aim.png') no-repeat center;
  background-size: cover;
}

.speed__desc, .accuracy__desc {
  margin-right: 10px;
}

.accuracy__accuracy, .speed__speed {
  font-size: 32px;
  color: rgb(69, 96, 252);
}

.again__link {
  display: block;
  padding: 10px;
  padding-left: 40px;
  background: url('/images/again.png') no-repeat;
  background-size: contain;
  color: #54d754;
  text-decoration: none;
}

/* styles for modal window */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(94, 91, 91, 0.836);
}

.modal__window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  background-color: rgb(245, 236, 141);
}

.btn-start {
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: blueviolet;
  box-shadow: 0 0 8px #333;
  cursor: pointer;
}

.modal__result {
  display: none;
  text-align: center;
  width: 100%;
}

.modal__result-accuracy, .modal__result-speed {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 32px;
  color: #fff;
  background-color: rgb(122, 122, 240);
}

.modal__result-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #54d754;
  text-decoration: none;
  cursor: pointer;
}

.modal__recom {
  display: none;
  text-align: center;
}
.modal__recom-text {
  margin-bottom: 20px;
  font-size: 32px;
  color: #54d754;
}
.modal__recom-btn {
  display: inline-block;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  color: #333;
  background-color: rgb(145, 232, 243);
  cursor: pointer;
}
.closed {
  z-index: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}